<template lang="pug">
  footer.footer
    .container
      .copyright
        span (c) 2013 ̵ {{ year }}, Древесный уголь
      .sitemap
        a(
          href="#"
          title=""
        ) Карта сайта
      .contacts
        phone.phone
        a(
          :href="'mailto:' + mail"
          :title="mail"
        ).mail {{ mail }}
      .social
        social-icons
</template>

<script>
import Phone from '~/components/elements/Phone'
import SocialIcons from '~/components/elements/SocialIcons'

export default {
  components: {
    Phone,
    SocialIcons
  },
  props: {
    mail: {
      type: String,
      default: ''
    },
    phone: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      year: '2020'
    }
  },
  created() {
    this.year = new Date().getFullYear()
  }
}
</script>

<style lang="sass" scoped>
$background: #3c3030
$color: white
.footer
  background: $background
  padding: 2rem
  color: $color
  a
    color: $color
  .container
    min-height: 60px
    display: grid
    grid-template-columns: 30% auto 30%
    grid-template-rows: 1fr 1fr
    grid-template-areas: "Copyright Contacts Social" "Sitemap Contacts Social"
    .copyright
      grid-area: Copyright
    .sitemap
      grid-area: Sitemap
    .contacts
      grid-area: Contacts
      display: flex
      justify-content: space-between
      align-items: flex-start
    .social
      grid-area: Social
      display: flex
      justify-content: flex-end
      align-items: flex-start
</style>
