<template lang="pug">
  header.header
    .container
      .nav
        a(
          v-for="(item, index) in navigate"
          :bind="index"
          :href="item.link"
        ) {{ item.name }}
      .contacts
        a(
          :href="'mailto:' + mail"
          :title="mail"
        ).mail {{ mail }}
</template>

<script>
export default {
  props: {
    navigate: {
      type: Array,
      default() {
        return []
      }
    },
    mail: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="sass" scoped>
$background: #3c3030
.header
  background: $background
  .container
    min-height: 60px
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center
  .nav
    a
      color: #fff
      text-decoration: none
      text-transform: uppercase
      margin: .5em 1.75em .5em 0
      &:hover
        color: #ac918c
  .contacts
    a
      color: #fff
      text-decoration: none
      text-transform: lowercase
      &:hover
        color: #ac918c
</style>
