<template lang="pug">
.drava.container
  .box
    img(
      src="~assets/icons/drava.svg?data"
    )
</template>

<style lang="sass" scoped>
.drava
  margin-top: -1.5rem
  display: flex
  justify-content: center
  align-items: center
  &::after,
  &::before
    content: ''
    width: 40%
    background: #f3ebdd
    height: .1rem
  .box
    width: 4rem
    height: 4rem
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background: white
    img
      width: 2.4rem
      height: 2.4rem
</style>
