<template lang="pug">
div(
  @click="open(title)"
  v-html="title"
)
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  props: {
    title: {
      type: String,
      default: 'Узнать подробнее'
    }
  },
  methods: mapMutations({ open: 'openModal' })
}
</script>
