<template lang="pug">
a(
  :href="'tel:' + phoneTel"
  :title="phone"
) {{ phone }}
</template>

<script>
export default {
  data() {
    return {
      phoneTel: process.env.PHONE_CONTACTS || '89601234567',
      phone: ''
    }
  },
  created() {
    this.phone = this.phoneTel.replace(
      /(\d{1})(\d{3})(\d{3})(\d{2})(\d{2})/,
      '+7 ($2) $3-$4-$5'
    )
  }
}
</script>

<style lang="sass" scoped>
a
  display: block
</style>
