<template lang="pug">
.product-card(
  v-if="name && image && description"
)
  img(
    :src="image"
    :alt="name"
  )
  h4(v-html="name")
  p(v-html="description")
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: 'http://sarugol.ru/static/img/product/bag1.png'
    },
    description: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="sass" scoped>
$color:    #ac928c !default
$passive-color: lighten($color, 20%)
$hover-color: darken($color, 10%)

.product-card
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  border: 1px solid $passive-color
  border-radius: 3px
  padding: 1rem 1.5rem
  transition: .3s
  &:hover
    transition: .3s
    border: 1px solid $hover-color
    cursor: pointer
  img
    max-width: 170px
  h4
    margin: 1rem 0
    min-height: 4rem
    font-weight: 400
</style>

<style lang="sass">
$span: #e4b05c
.product-card
  h4
    span
      color: $span
</style>
