<template lang="pug">
.socials
  a(
    v-for="(item, index) in SocailIcons"
    :key="index"
    :href="item.url"
    :title="item.name"
  )
    img(
      v-if="~item.url.indexOf('vk')"
      :alt="item.name"
      src="~assets/icons/vk.svg?data"
    )
    img(
      v-if="~item.url.indexOf('facebook')"
      :alt="item.name"
      src="~assets/icons/facebook.svg?data"
    )
</template>

// collection icon https://www.figma.com/file/ZZhxfSOiiKYQ5i16Lf72HT/fontAwesome-5-icons?node-id=199%3A2

<script>
import Social from '~/data/Social'

export default {
  data() {
    return {
      SocailIcons: Social
    }
  }
}
</script>

<style lang="sass" scoped>
$color: #ac928c !default
$passive-color: lighten($color, 20%)
$hover-color: darken($color, 10%)
$icon-size: 32px

.socials
  width: $icon-size * 2.5
  display: flex
  justify-content: space-between
  align-items: flex-start
  a
    background: $passive-color
    width: $icon-size
    height: $icon-size
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    &:hover
      background: $hover-color
      img
        filter: invert(75%)
    img
      width: $icon-size / 2
      height: $icon-size / 2
</style>
