<template lang="pug">
.stocks-container
  img(
    :src="images"
    :alt="name"
  ).images
  .title
    h2 АКЦИЯ
    img(
      src="~assets/icons/bird-on-branch.svg?data"
    )
  .description
    p(v-html="description")
  .price-container
    span(v-html="price").price
    span.description рублей<br>за мешок
</template>

<script>
import Stocks from '~/data/Stocks'

export default {
  data() {
    return {
      name: Stocks.name,
      description: Stocks.description,
      images: Stocks.images,
      price: Stocks.price
    }
  }
}
</script>

<style lang="sass" scoped>
.stocks-container
  width: 100%
  display: grid
  grid-template-columns: auto 20rem;
  grid-template-rows: auto;
  grid-template-areas: "Images Title" "Images Description" "Images Price"
  .images
    grid-area: Images
  .title
    grid-area: Title
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #ac928c;
    width: 20rem
    height: 4rem
    h2
      font-size: 2rem
      font-weight: 300
      color: #ac928c
    img
      height: 2.5rem
      width: 2.5rem
      margin-left: 1rem
  .description
    grid-area: Description
  .price-container
    grid-area: Price
    display: flex
    justify-content: flex-end
    align-items: center
    flex-wrap: wrap
    .price
      font-size: 3.5rem
      color: #e4b05c
      font-weight: 500
    .description
      margin-left: 1rem
</style>
