<template lang="pug">
.wrapper
  promo(
    :title="titlePage"
    :description="descriptionPage"
  )
  products(
    :products="ProductsData"
  )
</template>

<script>
import Promo from '~/components/blocks/Promo'
import Products from '~/components/blocks/Products'
import ProductsData from '~/data/Products'

export default {
  components: {
    Promo,
    Products
  },
  data() {
    return {
      titlePage: 'Сопутствующие товары',
      descriptionPage: `
        Для заказа продукции и получения интересующей информации свяжитесь с нами по контактному номеру.<br>
        Мы Будем рады пообщаться с Вами с 9:00 до 20:00 по Саратовскому времени (GMT +4:00), без выходных.
      `,
      ProductsData: ProductsData
    }
  },
  head() {
    return {
      title: this.titlePage + ' - ' + process.env.APP
    }
  }
}
</script>
