@import 'reboot/bootstrap-reboot';



.container {
    @include make-container();
    @include make-container-max-widths();
}

.btn {
  border: 1px solid lighten($link, 10%);
  color: darken($link, 10%);
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  height: 3rem;
  transition: .3s;
  &:hover {
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    background: white;
    border: 1px solid lighten($link, 20%);
  }
}
$btn__ac: #e4b05c;
$btn__ac_color: #3c3030;
.btn__ac {
  background: $btn__ac;
  color: $btn__ac_color;
  font-size: .8rem;
  padding: .8rem 1.6rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  transition: .3s;
  &:hover {
    transition: .3s;
    cursor: pointer;
    background: lighten($btn__ac, 10%);
  }
}

input, textarea {
  font-size: .8rem;
  padding: .5rem 1rem;
}
