<template lang="pug">
  .wrapper
    header-block(
      :mail='mailto'
      :navigate='navigate'
    )
    feedback-form
    nuxt
    footer-block(
      :mail='mailto'
    )
</template>

<script>
import HeaderBlock from '~/components/TheHeader'
import FooterBlock from '~/components/TheFooter'
import FeedbackForm from '~/components/blocks/FeedbackForm'

export default {
  components: {
    HeaderBlock,
    FooterBlock,
    FeedbackForm
  },
  data() {
    return {
      mailto: process.env.EMAIL_CONTACTS || 'mail@mail.mail',
      navigate: [
        {
          name: 'Главная',
          link: process.env.CI_PAGES_URL + ''
        },
        {
          name: 'Товары',
          link: process.env.CI_PAGES_URL + 'products'
        },
        {
          name: 'Цены',
          link: process.env.CI_PAGES_URL + 'price'
        },
        {
          name: 'Контакты',
          link: process.env.CI_PAGES_URL + 'contacts'
        }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
pre
  position: fixed
  z-index: 555
  background: yellow

</style>
