<template lang="pug">
.wrapper
  promo-index
  advantages
  about
  as-well-as
  info
</template>

<script>
import PromoIndex from '~/components/blocks/PromoIndex'
import Advantages from '~/components/blocks/Advantages'
import About from '~/components/blocks/About'
import AsWellAs from '~/components/blocks/AsWellAs'
import Info from '~/components/blocks/Info'

export default {
  components: {
    PromoIndex,
    Advantages,
    About,
    AsWellAs,
    Info
  },
  data() {
    return {
      titlePage: 'Главная страница',
      descriptionPage: `
        Для заказа продукции и получения интересующей информации свяжитесь с нами по контактному номеру.<br>
        Мы Будем рады пообщаться с Вами с 9:00 до 20:00 по Саратовскому времени (GMT +4:00), без выходных.
      `
    }
  },
  head() {
    return {
      title: this.titlePage + ' - ' + process.env.APP
    }
  }
}
</script>
