<template lang="pug">
.wrapper
  promo(
    :title="titlePage"
    :description="descriptionPage"
  )
  offer-for-stores
</template>

<script>
import Promo from '~/components/blocks/Promo'
import OfferForStores from '~/components/blocks/OfferForStores'

export default {
  components: {
    Promo,
    OfferForStores
  },
  data() {
    return {
      titlePage: 'Наша ценовая политика',
      descriptionPage: `
        Для заказа продукции и получения интересующей информации свяжитесь с нами по контактному номеру.<br>
        Мы Будем рады пообщаться с Вами с 9:00 до 20:00 по Саратовскому времени (GMT +4:00), без выходных.
      `
    }
  },
  head() {
    return {
      title: this.titlePage + ' - ' + process.env.APP
    }
  }
}
</script>
