<template lang="pug">
.about
  .container
    img(
      src="images/products/bag1.png"
      alt="О компании"
      width="246"
      height="262"
    )
    .content
      p Наша компания более пяти лет занимается реализацией древесного угля и сопутствующих товаров оптом и в розницу. Наши клиенты всегда могут рассчитывать на бесперебойный график поставок, демократичные цены и индивидуальный подход.
      p Мы сотрудничаем с производителями древесного угля, которые изготавливают уголь в течении всего года, для распространения по Саратовской области.
      p Вы можете приобретать у нас уголь в мешках, расфасованных по 2.5, 3, 5, и 10 килограммов. Для его производства используется древесина твёрдых сортов: берёза, дуб, клен.
</template>

<style lang="sass" scoped>
.about
  background: #f3ebdd
  padding: 4rem 0
  .container
    display: flex
    img
      margin-right: 3rem
    .content
      display: flex
      flex-direction: column
      justify-content: space-between
</style>
