<template lang="pug">
.advantages.container
  h2 ЗАКАЗЫВАЯ УГОЛЬ У НАС, ВЫ ПОЛУЧАЕТЕ:
  .card
    img(
      src="~assets/icons/spichkee.svg?data"
      alt="Индивидуальный график поставок"
    )
    h3 Индивидуальный<br>график поставок
  .card
    img(
      src="~assets/icons/telejka.svg?data"
      alt="Бесплатная доставка по Саратову и Энгельсу"
    )
    h3 Бесплатная доставка<br>по Саратову и Энгельсу
  .card
    img(
      src="~assets/icons/calculatorr.svg?data"
      alt="Наличный и безналичный виды расчётов"
    )
    h3 Наличный и безналичный<br>виды расчётов
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
.advantages
  display: grid
  grid-template-columns: repeat(3fr)
  grid-template-rows: auto
  grid-template-areas: "Title Title Title" ".. .. .."
  padding: 3rem 0
  font-weight: 300
  h2, h3
    grid-area: Title
    display: flex
    justify-content: center
    align-items: center
    font-weight: inherit
  .card
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
    text-align: center
    img
      height: 10rem
      margin: 2rem 0
    // h3
    //   font-weight: inherit
</style>
