<template lang="pug">
.as-wel-as.container
  h4 Так же любители шашлыка всегда могут приобрести у нас дубовые дрова в вязанках массой<br>8-10 килограммов. Всегда в продаже жидкость для розжига в ёмкостях объёмом 0.22, 0.5 и 1 литр.
  img(
    src="images/deco/index_03.png"
    alt="Так же любители шашлыка всегда могут приобрести сопутствующие товары"
  )
  h4 А ТАКЖЕ ВЫ МОЖЕТЕ ЗАКАЗАТЬ У НАС ТОВАРЫ ДЛЯ ПИКНИКА<br>В ШИРОКОМ АССОРТИМЕНТЕ
</template>

<style lang="sass" scoped>
.as-wel-as
  padding: 4rem 0
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  font-weight: 300
  &>*
    padding: 1.2rem 0
    font-weight: inherit
</style>
