<template lang="pug">
div(
  v-if="show"
  :class="[{ 'active': isActive }, { 'scale-out-center': isActiveSuccessClass }, 'modal']"
)
  div(
    v-show="!isActiveSuccessClass"
    class="owerlay"
    @click="close"
  )
    .content
      img(
        src="~assets/icons/close.svg?data"
        class="modal__close"
        @click="close"
      )
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { validationMixin } from 'vuelidate'
import { minLength, required } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  data() {
    return {
      errors: [],
      phone: '',
      isActive: false,
      isActiveSuccess: false,
      isActiveSuccessClass: false
    }
  },
  computed: mapGetters({
    show: 'modalShow',
    text: 'modalText'
  }),
  watch: {
    show(value) {
      if (value) {
        setTimeout(() => {
          this.isActive = true
        })
      } else {
        this.isActive = false
      }
    }
  },
  validations() {
    return {
      phone: {
        required,
        minLength: minLength(6)
      }
    }
  },
  methods: {
    ...mapMutations({ close: 'closeModal' }),
    validate() {
      if (this.$v.$error) {
        return
      }
      this.submitForm()
    },
    async submitForm() {
      try {
        await this.$axios.$post('', {
          phone: this.phone
        })
        setTimeout(() => {
          this.errors = []
          this.isActiveSuccess = true
          setTimeout(() => {
            this.isActiveSuccessClass = true
            setTimeout(() => {
              this.close()
              this.isActiveSuccess = false
              this.isActiveSuccessClass = false
              this.phone = ''
            }, 500)
          }, 1000)
        }, 300)
      } catch (e) {
        if (typeof (e.response.data.error) === 'string') {
          this.errors = [e.response.data.error]
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10
  opacity: 0
  &.active
    opacity: 1
    transition: .3s
    .content
      animation-iteration-count: 1
      animation-duration: 0.75s
      animation-name: pulse
  &__close
    align-self: flex-end
    &:hover
      cursor: pointer
  .owerlay
    background: rgba(0, 0, 0, .5)
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 10
  .content
    position: absolute
    top: 10%
    left: calc(50% - 20%)
    width: 40%
    background: white
    padding: 3rem 2rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    z-index: 12
    &.active
      transition: .3s
</style>
