<template lang="pug">
.wood-bg
  .container
    .info
      p В качестве сырья для нашего товара используется древесина берёзы, дуба и клена.
      p Выбор этих сортов обусловлен тем, что, получаемый<br>в результате уголь, имеет крупную фракцию и даёт ровный стабильный жар, что является основными показателями его качества
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
.wood-bg
  padding: 4rem 0
  background: url('/sarugol/images/deco/wood.jpg') repeat top center
  .container, .info
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    text-align: center
  .info
    padding: 2rem
    background: rgba(60,48,48,0.7)
    width: 45%
    position: relative
    p
      lint-height: 1.4
      padding: 0
      margin: 0
      color: white
    &:after
      content: ''
      display: block
      position: absolute
      top: 0px
      right: -20px
      background: url('/sarugol/images/deco/leaf.png') no-repeat top center
      background-size: cover
      width: 70px
      height: 70px
    &:before
      content: ''
      display: block
      position: absolute
      bottom: -7px
      left: 0px
      height: 1px
      width: 100%
      background: rgba(60,48,48,0.7)
</style>
