<template lang="pug">
.form.container
  .heading
    h3 ТАКЖЕ ВЫ МОЖЕТЕ ЗАКАЗАТЬ ЗВОНОК С НАШЕГО САЙТА.
    p Заполните форму, мы перезвоним и обсудим интересующую Вас информацию.
  form.form__container
    .form__phone.form__group
      label(
        for="phone"
      ) Ваш контактный номер
      input(
        type="text"
        name="phone"
        :placeholder="placeholderPhone"
      )
    .form__email.form__group
      label(
        for="email"
      ) Ваш e-mail
      input(
        type="text"
        name="email"
        :placeholder="placeholderEmail"
      )
    .form__textarea.form__group
      label(
        for=""
      ) Текст Вашего сообщения
      textarea(
        placeholder="Введите текст сообщения"
      )
    .form__submit
      input(
        type="submit"
        value="Заказать обратную связь"
      ).btn__ac
</template>

<script>
export default {
  data() {
    return {
      placeholderPhone: 'Например: ' + process.env.PHONE_CONTACTS || 'Например: 89601234567',
      placeholderEmail: 'Например: ' + process.env.EMAIL_CONTACTS || 'Например: user@yandex.ru'
    }
  }
}
</script>

<style lang="sass" scoped>
.form
  padding: 60px 0
  &__container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    grid-template-areas: "Phone Textarea" "Email Textarea" ".. Submit"
    grid-gap: 2rem
  &__phone
    grid-area: Phone
  &__email
    grid-area: Email
  &__textarea
    grid-area: Textarea
    textarea
      height: 100%
  &__submit
    grid-area: Submit
  &__group
    display: flex
    flex-direction: column
</style>
