<template lang="pug">
.offer.container
  .image
    img(
      :src="Images"
      :alt="Title"
    )
  .title
    h2(
      v-html="Title"
    )
  .product
    div(
      v-for="(item, index) in Products"
      :key="index"
    )
      .title
        h3(
          v-html="item.name + ' ' + item.description"
        )
      .no-delivery.product-grid
        h5 Цена при самовывозе
        img(
          src="~assets/icons/coalbag.svg?data"
          :alt="'Цена при самовывозе `' + item.alt"
        )
        h4(
          v-html="item.alt"
        )
        .price
          div(
            v-for="(price, key) in item.prices"
            :key="key"
          )
            span(
              v-html="price.name + ' - ' + price.value + ' руб.'"
            )
      .delivery.product-grid
        h5 Цена с доставкой
        img(
          src="~assets/icons/coalbag.svg?data"
          :alt="'Цена с доставкой `' + item.alt"
        )
        h4(
          v-html="item.alt"
        )
        .price
          div(
            v-for="(price, key) in item.prices"
            :key="key"
          )
            span(
              v-html="price.name + ' - ' + price.delivery + ' руб.'"
            )
</template>

<script>
import OfferForStoresData from '~/data/catalog/OfferForStores'

export default {
  data() {
    return {
      Title: OfferForStoresData.title,
      Products: OfferForStoresData.products,
      Images: OfferForStoresData.images
    }
  }
}
</script>

<style lang="sass" scoped>
$heading: #ac928c
$title: #e4b05c
.offer
  display: grid
  grid-template-columns: 20rem auto
  grid-template-rows: auto
  grid-template-areas: "Image Title" "Image Product"
  padding: 60px 0
  .image
    grid-area: Image
  .title
      grid-area: Title
      h2
        color: $heading
        text-transform: uppercase
        font-weight: 300
        line-height: 2rem
  .product
    grid-area: Product
    .title
      color: $title
      font-size: 1.4rem
      font-weight: 400
    &-grid
      display: grid
      grid-template-columns: 8rem auto
      grid-template-rows: auto
      grid-template-areas: "Heading Heading" " Img CategoryTitle" "Img Price"
      h5
        grid-area: Heading
        font-size: 1.2rem
        font-weight: 400
        color: $heading
      img
        grid-area: Img
      h4
        grid-area: CategoryTitle
        font-size: 1rem
        font-weight: 300
        color: $heading
      .price
        grid-area: Price
</style>
