<template lang="pug">
.product.container(
    v-if="products"
  )
  .title
    h2 ВСЕГДА В НАЛИЧИИ СЛЕДУЮЩИЕ ТОВАРЫ
  product-card(
    v-for="(item, index) in products"
    :key="index"
    :name="item.name"
    :image="item.image"
    :description="item.description"
  )
</template>

<script>
import ProductCard from '~/components/elements/ProductCard'
export default {
  components: {
    ProductCard
  },
  props: {
    products: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.product
  background: white
  padding: 4rem 0
  &.container
    display: grid
    grid-gap: 3rem
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: auto
    grid-template-areas: "Title Title Title" ".. .. .."
    .title
      grid-area: Title
      text-align: center
      h2
        font-weight: 300
</style>
