<template lang="pug">
div
  .head
    .container
      logo.logo
      .title
        h2 {{ title }}
      .description
        h4(v-html="description")
      .phone
        phone
      .feed-back-button.btn-group
        feedback(
          title="Заказать звонок"
        ).btn
  drava
</template>

<script>
import Logo from '~/components/elements/Logo'
import Phone from '~/components/elements/Phone'
import Drava from '~/components/elements/Drava'
import Feedback from '~/components/elements/Feedback'

export default {
  components: {
    Phone,
    Logo,
    Drava,
    Feedback
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="sass" scoped>
  .head
    background: #f3ebdd
    padding: 4rem 0
    .container
      display: grid
      grid-gap: 2rem
      grid-template-columns: auto
      grid-template-rows: auto
      grid-template-areas: "Logo Title" "Description Description" "Phone FeedBackButton"
      & > *
        display: flex
    .logo
      grid-area: Logo
      max-width: 12rem
      width: 100%
      display: inline-block
    .title
      grid-area: Title
      justify-content: flex-end
      align-items: center
    .description
      grid-area: Description
      justify-content: flex-start
      align-items: center
      h4
        font-weight: 300
    .phone
      grid-area: Phone
      justify-content: flex-start
      align-items: center
      font-size: 2rem
    .feed-back-button
      grid-area: FeedBackButton
      justify-content: flex-end
      align-items: center
</style>
