<template lang="pug">
div
  .head
    .container
      logo.logo
      .phone
        p(v-html="phoneDescription")
        phone
      .stocks
        stocks
      .btn-group
        a(
          href="products"
          title="Сопутствующие товары"
        ).btn Сопутствующие товары
      .feed-back-button
        feedback(
          title="Закажите обратный звонок <br>и узнайте подробнее об акции"
        ).feedback
  drava
</template>

<script>
import Logo from '~/components/elements/Logo'
import Phone from '~/components/elements/Phone'
import Stocks from '~/components/elements/Stocks'
import Feedback from '~/components/elements/Feedback'
import Drava from '~/components/elements/Drava'

export default {
  components: {
    Phone,
    Logo,
    Stocks,
    Feedback,
    Drava
  },
  data() {
    return {
      phoneDescription: 'контактный номер для совершения заказа продукции <br>и получения интересующей Вас информации'
    }
  }
}
</script>

<style lang="sass" scoped>
  .head
    background: #f3ebdd
    padding: 4rem 0
    .container
      display: grid
      grid-gap: 2rem
      grid-template-columns: auto
      grid-template-rows: auto
      grid-template-areas: "Logo Phone" "Stock Stock" "Btn FeedBackButton"
      & > *
        display: flex
    .logo
      grid-area: Logo
      max-width: 12rem
      width: 100%
      display: inline-block
    .phone
      grid-area: Phone
      justify-content: center
      align-items: flex-end
      flex-direction: column
      font-size: 2rem
      p
        font-size: .8rem
    .stocks
      grid-area: Stock
    .btn-group
      grid-area: Btn
    .feed-back-button
      grid-area: FeedBackButton
      justify-content: flex-end
      align-items: center
      .feedback
        &:hover
          cursor: pointer
          color: darken(#f3ebdd, 40%)
</style>
